# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk


# =========================
# Operating System Files
# =========================
myFeed/AppPackages/
myFeed/Assets
myFeed/Properties
myFeed.FeedUpdater/Properties
myFeed.FeedUpdater/obj
myFeed.FeedUpdater/bin
myFeed/myFeed_StoreKey.pfx
myFeed/bin
myFeed/obj
myFeed/BundleArtifacts
.vs/

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
*.pdb
*.suo
*.pri
*.cache
*.resfiles
*.ps1
*.user
*.appxmanifest
*.appx
*.json
*.pfx
myFeed/Package.StoreAssociation.xml
myFeed/_pkginfo.txt
